.wg-filter-bar {
  background: rgba(252,127,35,1);
  background: linear-gradient(0deg, rgba(252,127,35,1) 0%, rgba(254,220,50,1) 100%);
  padding: 80px;

  .wg-filter-bar-summary {
    color: #FFFFFF;
    margin-bottom: 0.5em;
  }
}
