.wg-filter-bar {
  background: rgb(128,180,255);
  background: linear-gradient(0deg, rgba(128,180,255,1) 0%, rgba(255,255,255,1) 100%);
  padding: 80px;

  .wg-filter-bar-summary {
    margin-bottom: 0.5em;
  }
}
