.wg-header {
  background: rgb(128,180,255);
  background: linear-gradient(0deg, rgba(128,180,255,1) 0%, rgba(255,255,255,1) 100%);
  padding: 80px;
  position: relative;

  &-show-filters-button {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &-search-inputs {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;

    .ant-input-prefix {
      font-weight: 700;
    }

    .wg-header-search-input-wrapper {
      position: relative;

      // add space between each input except the last one
      &:not(:last-child) {
        margin-right: 20px;
      }

      &:nth-child(2) {
        .wg-header-search-input .ant-input-affix-wrapper .ant-input {
          padding-left: 55px;
        }
      }

      .wg-loader-overlay {
        border-radius: 4px;
      }
    }

    .wg-header-search-input {
      .ant-input-affix-wrapper .ant-input {
        padding-left: 50px;
      }
    }
  }

  // &-filter-summary {}
}
