@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
  background-color: #ccc;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.places-list {
  padding: 20px;
}

.place {
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 20px;

  &-name {
    font-size: 20px;
  }
}
